<section class="yellow_bg2" id="aboutISKCON">
    <div class="container">
        <div class="row">

            <div class="col-md-8 col-sm-12">


                <article>
                    <div class="media-left media-middle">&nbsp;</div>
                </article>

                <article class="article_text">
                    <h1 style="    font-size: 24px;
font-weight: 400;
text-transform: uppercase;
color: #ca4720;
display: block;">ISKCON : A SPIRITUAL &amp; CULTURAL TEMPLE (Centre for permanent
                        happiness)</h1>

                    <div class="media-left media-middle">
                        <div class="imedia-object"><img alt="ISKCON " class="hom_img3"
                                src="/statics/Assets/images/Current Temple photo.jpeg" width="450px" height="auto">
                        </div>

                        <p>Sri Sri Radha Neelmadhav Satsang is a Hare Krishna temple, community, and satsang dedicated
                            to the practice of bhakti-yoga or loving service to Krishna, the Supreme Personality of
                            Godhead. We are a preaching center under the International Society for Krishna Consciousness
                            (ISKCON) Thiruvananthapuram, a worldwide spiritual movement founded by His Divine Grace A.C.
                            Bhaktivedanta Swami Prabhupada, in New York City in 1966. Under the guidance of His Holiness
                            Mahavishnu Goswami Maharaj in 2022, this center was inaugurated by the hands of Iskcon
                            leaders and devotees. Radhaneelmadhav Satsang started its activities in 2002.,</p>

                        <p>Lord Krishna says in the Bhavishya Purana, "The giver of food is the giver of life and
                            indeed of everything else. Therefore one who is desirous of well-being in this world and
                            beyond should make special endeavors to give food…" At Radhaneelmadav Satsang, we serve
                            prasadam to all visitors and devotees who visit the temple, and we provide free food to the
                            needy people around Thiruvanathapuram.
                        </p>
                        <p>&nbsp;</p>
                        <h2 style="font-size: 20px;font-weight: 400;color: #ca4720;display: block;">Our Inspiration,
                        </h2>
                        <p>&nbsp;</p>
                        <h2 style="font-size: 20px;font-weight: 400;color: #ca4720;display: block;">His Divine Grace
                            A.C.Bhaktivedanta Swami Prabhupada</h2>
                        <p>&nbsp;</p>
                        <h2 style="font-size: 20px;font-weight: 400;color: #ca4720;display: block;">Who is Srila
                            Prabhupada?</h2>
                        <p>&nbsp;</p>
                        <p>For millennia the teachings and the rich culture of bhakti-yoga, or Krishna Consciousness,
                            had been hidden within the borders of India. Today, millions around the globe express their
                            gratitude to Srila Prabhupada for revealing the timeless wisdom of bhakti to a world. </p>

                        <p>Born as Abhay Charan De on September 1, 1896, in Calcutta, as a young man he joined Mahatma
                            Gandhi’s civil disobedience movement. In 1922, a meeting with the prominent scholar and
                            spiritual leader, Srila Bhaktisiddhanta Sarasvati, proved to be most influential on young
                            Abhay’s future calling.</p>

                        <p> Srila Bhaktisiddhanta was a leader in the Gaudiya Vaishnava community, a monotheistic
                            tradition within the broader Hindu culture. At their very first meeting, Srila
                            Bhaktisiddhanta asked Abhay to bring the teachings of Lord Krishna to the English-speaking
                            world. Deeply moved by his devotion and wisdom, Abhay became a disciple of Srila
                            Bhaktisiddhanta in 1933, and resolved to carry out his mentor’s request. Abhay, later known
                            by the honorific A.C. Bhaktivedanta Swami Prabhupada, spent the next 32 years preparing for
                            his journey west.</p>

                        <p> In 1965, at the age of sixty-nine, Srila Prabhupada begged a free passage and boarded a
                            cargo ship, the Jaladhuta, to New York. The journey proved to be treacherous and he suffered
                            two heart attacks aboard. After 35 days at sea, he first arrived at a lonely Brooklyn pier
                            with just seven dollars in Indian rupees and a crate of his translations of sacred Sanskrit
                            texts.</p>

                        <p> In New York, he faced great hardships and began his mission humbly by giving classes on the
                            Bhagavad-gita in lofts on the Bowery and leading kirtan (traditional devotional chants) in
                            Tompkins Square Park. His message of peace and goodwill resonated with many young people,
                            some of whom came forward to become serious students of the Krishna-bhakti tradition. With
                            the help of these students, Bhaktivedanta Swami rented a small storefront on New York’s
                            Lower East Side to use as a temple.</p>

                        <p> In July of 1966, Bhaktivedanta Swami established the International Society for Krishna
                            Consciousness (ISKCON) for the purpose he stated of “checking the imbalance of values in the
                            world and working for real unity and peace”.</p>

                        <p> In the eleven years that followed, Srila Prabhupada circled the globe 14 times on lecture
                            tours spreading the teachings of Lord Krishna. Men and women from all backgrounds and walks
                            of life came forward to accept his message. With their help, Srila Prabhupada established
                            temples, farm communities, a publishing house, and educational institutions around the
                            world. And, he began what has now become the world’s largest vegetarian food relief program,
                            Hare Krishna Food for Life.</p>

                        <p> With the desire to nourish the roots of Krishna consciousness in its home, Srila Prabhupada
                            returned to India several times, where he sparked a revival in the Vaishnava tradition. In
                            India, he opened dozens of temples, including large centers in the holy towns of Vrindavana
                            and Mayapura.</p>

                        <p> Srila Prabhupada’s most significant contributions, perhaps, are his books. He authored over
                            70 volumes on the Krishna tradition, which are highly respected by scholars for their
                            authority, depth, fidelity to the tradition, and clarity. Several of his works are used as
                            textbooks in numerous college courses. His writings have been translated into 76 languages.
                            His most prominent works include: Bhagavad-gita As It Is, the 30-volume Srimad-Bhagavatam,
                            and the 17-volume Sri Caitanya-caritamrita.
                            A.C. Bhaktivedanta Swami Srila Prabhupada passed away on November 14, 1977, in the holy town
                            of Vrindavana, surrounded by his loving disciples who carry on his mission today.</p>

                        <p>&nbsp;</p>
                        <div class="imedia-object"><img class="hom_img3" src="/statics/Assets/images/swami.jpg"></div>
                        <span class="read_text"><a href="javascript:void(0);">Read
                                More</a></span>

                        <h2 style="font-size: 20px;font-weight: 400;color: #ca4720;display: block;">His Holiness
                            Mahavishnu Goswami</h2>
                        <p>&nbsp;</p>
                        <p> His Holiness Srila Mahavishnu Goswami Maharaj was born in the outskirts of Mumbai in 1919 on
                            the auspicious day of Dattātreya Purnima in the month of mārga-śīrṣa [November-December]. He
                            appeared in an eight generation Vaishnava family. At the tender age, he began studying the
                            holy scriptures of Srimad Bhagavat-gita and Srimad Bhagavatam in earnest. He is highly
                            educated having obtained a masters degree in both Sanskrit and English and is equally
                            conversant in Marathi, Gujarati, Hindi, Urdu and the Gujarati dialect Kachhi. His burning
                            desire to realize God was finally answered, when he met Srila Prabhupada, the founder
                            acharya of the International Society of Krsna Consciousness (ISKCON). Maharaj first took
                            darshan of Srila Prabhupāda in 1973 when, as President of the London Gujarati Community
                            Society, he invited Prabhupäda to be guest-of-honour at the society’s annual function. There
                            Srila Prabhupada’s lecture marked the turning point in Maharaj’s life. Srila Prabhupāda had
                            stated that whenever we meet our friends, we ask them so many material things, like how is
                            your business, your family etc. But this is simply a waste of time. If we really cared for
                            them, then when we meet them, we should ask them how far they have progressed, since we last
                            met, in the matter of stopping the repetition of the cycle of birth and death. Since that
                            profound meeting, H H Mahāvishnu Goswami Maharaj has dedicated his life to the rigorous
                            study of Śrīmad-Bhāgavatam.</p>

                            <p> His Holiness Srila Mahāvishnu Goswami Maharaj, is a brilliantly divine personality and such
                            kind of personalities are rarely seen on the stage of human life. Anybody who has come in
                            touch with Maharaj experienced that he was not just a spiritual master, but a sweet loving
                            father, who, by his loving dealings with everyone, made them experience the love of Kṛṣṇa.
                            He is an embodiment of all the exalted qualities. His deep serenity, the vast limitless
                            wellspring of knowledge he possessed, the beautiful sobriety he exhibited, his gentle, sweet
                            and simple demeanor, the soft expressiveness of his features and the natural flow of all his
                            actions could capture everyone’s heart.</p>

                            <p> Maharaj could relate even the most ordinary event to the scriptures and for even a seemingly
                            ordinary subject matter, Maharaj could offer a spiritual perspective. He was a genuine guide
                            in our struggle to carry on the material life, as well as for understanding the
                            transcendence. His presentation of the scriptures and especially Śrīmad-Bhāgavatam which is
                            his life and soul was not a dry academic subject to be theorized and armchair philosophized
                            about. Maharaj spoke and lived the essence of the scriptures and made everyone understand
                            that the scriptures are not in the cloud or in the sky but very much on the ground,
                            intimately related to our day-to-day life. That way he was a practical Maha Bhagavata and a
                            down to earth Paramahamsa. The humility which Maharaj exhibited is a conclusive proof of his
                            greatness.</p>

                            <p> Maharaj is simultaneously grave and jolly and often he laughed and joked and brightened the
                            whole atmosphere with his effulgent Vaikuntha smile but even his lighter mood was fully
                            Kṛṣṇa conscious and not frivolous. Maharaj’s every movement, every word and every action had
                            a transcendental purpose in it. Throughout his whole life and at the time of leaving the
                            world, Maharaj showed us how not to be bewildered by the inevitable miseries of the material
                            existence and always remain aloof simply by remembering the lotus feet of the Lord.
                            (saṁsāra-dharmair avimuhyamānaḥ smṛtyā harer bhāgavata-pradhānaḥ – SB 11.2.49).</p>

                            <p> Once His Grace Viraja Kṛṣṇa Prabhuji humbly asked His Holiness Mahāvishnu Goswami Maharaj
                            how he was able to become so famous a devotee all over the world. Maharaj replied with his
                            trademark, uncommon humility that it was because he lived every moment of his life based on
                            the verse 1.6.26 from Śrīmad-Bhāgavatam. This particular verse spoken by Srila Narada Muni
                            reveals the nature of an unflinching servitor of the Supreme Lord.</p>

                            <p> nāmāny anantasya hata-trapaḥ paṭhan
                             guhyāni bhadrāṇi kṛtāni ca smaran
                            gāṁ paryaṭaṁs tuṣṭa-manā gata-spṛhaḥ
                             kālaṁ pratīkṣan vimado vimatsaraḥ</p>

                            <p> “Thus I began chanting the holy name and fame of the Lord by repeated recitation, ignoring
                            all the formalities of the material world. Such chanting and remembering of the
                            transcendental pastimes of the Lord are benedictory. So doing, I traveled all over the
                            earth, fully satisfied, humble and unenvious.”</p>

                            <p> Anyone who comes in touch with His Holiness cannot go away without the impression that Kṛṣṇa
                            consciousness is all common sense, practical, logical and simple. The one shloka which
                            Maharaj had in his heart even till his winding up pastimes was SB 1.5.40, the instruction of
                            Srila Narada Muni to his disciple Srila Vyasadev on the power of the pure subject matter of
                            the transcendental pastimes of the Supreme Lord and how it is satisfying both to the general
                            mass as well as great learned men.</p>

                            <p> tvam apy adabhra-śruta viśrutaṁ vibhoḥ
                             samāpyate yena vidāṁ bubhutsitam
                            prākhyāhi duḥkhair muhur arditātmanāṁ
                             saṅkleśa-nirvāṇam uśanti nānyathā</p>

                            <p> Please, therefore, describe the Almighty Lord’s activities which you have learned by your
                            vast knowledge of the Vedas, for that will satisfy the hankerings of great learned men and
                            at the same time mitigate the miseries of the masses of common people who are always
                            suffering from material pangs. Indeed, there is no other way to get out of such miseries.</p>

                            <p> Maharaj urged everyone that the preaching of Śrīmad-Bhāgavatam with emphasis on its
                            practical aspect is the one and only way to mitigate the miseries of common people who are
                            suffering from the material pangs. His instructions ranged from organizing one’s own shaving
                            kit, washing one’s own clothes, to living a life without a tinge of expectation from anyone.
                            Maharaj firmly emphasized that without organizing our material lives in a perfect manner,
                            there is no question of progressing spiritually.</p>

                            <p> Maharaj is unflinchingly attached to the lotus feet of Srila Prabhupāda and studied His
                            Divine Grace’s books very deeply. With his compassionate, powerful, intense, pure and
                            earnest preaching and encouragement, Maharaj could impress upon the living entities to
                            translate all the instructions of scripture into real life experiences by changing the
                            behavior for good. Maharaj is of the firm belief that Srila Prabhupāda’s literatures are so
                            powerful that by the force of this literary influence, a revolution can be brought in the
                            lives of the conditioned souls and thus save them from the miserable conditions. Maharaj’s
                            appreciation and attachment to Srila Prabhupāda’s transcendental literature is so much that
                            Maharaj says that if it had been possible, Prabhupāda would have physically taken out his
                            heart and put it in these books.</p>

                            <p> At about 3:25 pm on 25th January 2010, our beloved spiritual master, H H Mahävishnu Goswami
                            entered into his final pastimes in this mortal world and left us all in great grief of
                            separation at the Bhaktivedanta Hospital, Mira Road, Mumbai, India. Those who had the good
                            fortune of meeting him soon became aware that the Śrīmad-Bhāgavatam was indeed his very life
                            and soul. In a very simple and sublime manner he would provide anyone practical guidance in
                            their lives based on the teachings of the Bhāgavatam, and with this he has awakened so many
                            souls to the importance of the amala purana Śrīmad-Bhāgavatam. May he live forever by his
                            divine instructions in the hearts of his sincere followers.</p>

                            <p> The following verse from Srimad Bhagavatam 2.6.34 spoken by Lord Brahma to Srila Narada Muni
                            reveals to us a glimpse into the transcendental bhakti that His Holiness Mahavishnu Goswami
                            Maharaj epitomized in his life.</p>

                            <p> na bhāratī me ’ṅga mṛṣopalakṣyate
                             na vai kvacin me manaso mṛṣā gatiḥ
                            na me hṛṣīkāṇi patanty asat-pathe
                             yan me hṛdautkaṇṭhyavatā dhṛto hariḥ</p>

                            <p> “O Nārada, because I have caught hold of the lotus feet of the Supreme Personality of
                            Godhead, Hari, with great zeal, whatever I say has never proved to have been false. Nor is
                            the progress of my mind ever deterred. Nor are my senses ever degraded by temporary
                            attachment to matter.”</p>

                            <p> For many, Maharaj is a humble and loving Vaishnava, who has made them follow the teachings
                            of the Supreme Lord and realize the true value of human life. Still others cannot help, but
                            be completely and helplessly touched by Maharaj’s love and compassion. In today’s age His
                            Holiness’s love and humility coupled with his profound wisdom and realization, have brought
                            many fallen souls to the lotus feet of Prabhupāda and the Supreme Lord. We offer our deepest
                            respect unto His Holiness Mahävishnu Goswami’s lotus feet for kindly guiding us on the path
                            back to the Supreme One. Now more than ever, his divine instructions are the only shelter
                            for his disciples and all sincere souls seeking to reunite with the Supreme Lord Kṛṣṇa. </p>


                    </div>
            </div>
            </article>




        </div>





    </div>
    </div>


</section>