<header class="page-header ">
    <!-- Nav Bar -->
    <nav class="navbar navbar-expand-md n navbarBg fixed-top px-1 px-md-5 py-md-4 py-2 ">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/statics/Assets/images/mainLogo/Jaganath Small.png" alt="Logo"
                    class="d-md-inline-block align-text-top ">
                <!-- new logo update -->

                <img src="/statics/Assets/images/mainLogo/nw/Krishna (2).png" alt="Logo"
                    style="width: 57px;height: 70px;" class="d-md-inline-block align-text-top">
                <img src="/statics/Assets/images/mainLogo/nw/Prabhupada Small 1.png" alt="Logo"
                    class="d-inline-block align-text-top">

                <!-- old logo update -->

                <!-- <img src="/statics/Assets/images/mainLogo/Krishna.png" alt="Logo" style="width: 57px;height: 70px;"
                    class="d-md-inline-block align-text-top">
                <img src="/statics/Assets/images/mainLogo/Prabhupada Small.png" alt="Logo"
                    style="width: 57px;height: 70px;" class="d-inline-block align-text-top"> -->
            </a>
            <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"
                style="border-color: #153abd;">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ms-auto mb-2 mb-md-0 justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link <% if(curr == 'home'){ %> active<% } %> " aria-current="page"
                            href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link <% if(curr == 'festivals'){ %> active<% } %>" aria-current="page"
                            href="/festivals">Festivals</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link <% if(curr == 'gallery'){ %> active<% }%>" href="/gallery">Gallery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#aboutISKCON">About us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Nav Bar End-->
</header>