<header class="page-header">
    <!-- Nav Bar -->
    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img src="/statics/Assets/images/mainLogo.png" alt="Logo" width="60"
                    height="48" class="d-inline-block align-text-top"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ms-auto mb-2 mb-md-0 justify-content-end me-4">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Festivals
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/festivals">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#ISKCONgallery">Gallery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#aboutISKCON">About us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Nav Bar End-->
</header>