<!-- For future updates on Donation section -->

<!-- table  for extra donations-->

<!-- 
                                <table width="105%" class="table table-hover">
                                    <tbody>

                                        <tr>
                                            <td valign="middle">
                                                <h4 class="sec-head">Donate 1,000 Meals</h4>
                                            </td>
                                            <td valign="middle">
                                                <h3 class="sec-head"><span>₹ 20,000</span></h3>
                                            </td>
                                            <td valign="middle" style="text-align: center;" class="yellow-border"><a
                                                    href="https://iskcondwarka.org/donations/checkout/?add-to-cart=82&amp;dsource=corona-relief"
                                                    target="_blank" class="btn btn-primary btn-sm">DONATE NOW</a></td>
                                        </tr>
                                        <tr>
                                            <td valign="middle">
                                                <h4 class="sec-head">Donate 2,500 Meals</h4>
                                            </td>
                                            <td valign="middle">
                                                <h3 class="sec-head"><span>₹ 50,000</span></h3>
                                            </td>
                                            <td valign="middle" style="text-align: center;" class="yellow-border"><a
                                                    href="https://iskcondwarka.org/donations/checkout/?add-to-cart=85&amp;dsource=corona-relief"
                                                    target="_blank" class="btn btn-primary btn-sm">DONATE NOW</a></td>
                                        </tr>
                                        <tr>
                                            <td valign="middle">
                                                <h4 class="sec-head">Donate 5,000 Meals</h4>
                                            </td>
                                            <td valign="middle">
                                                <h3 class="sec-head"><span>₹ 1,00,000</span></h3>
                                            </td>
                                            <td valign="middle" style="text-align: center;" class="yellow-border"><a
                                                    href="https://iskcondwarka.org/donations/checkout/?add-to-cart=79&amp;dsource=corona-relief"
                                                    target="_blank" class="btn btn-primary btn-sm">DONATE NOW</a></td>
                                        </tr>
                                        <tr>
                                            <td valign="middle">
                                                <h4 class="sec-head">Donate 10,000 Meals</h4>
                                            </td>
                                            <td valign="middle">
                                                <h3 class="sec-head"><span>₹ 2,00,000</span></h3>
                                            </td>
                                            <td valign="middle" style="text-align: center;" class="yellow-border"><a
                                                    href="https://iskcondwarka.org/donations/checkout/?add-to-cart=83&amp;dsource=corona-relief"
                                                    target="_blank" class="btn btn-primary btn-sm">DONATE NOW</a></td>
                                        </tr>
                                        <tr>
                                            <td valign="middle">
                                                <h4 class="sec-head">Donate 25,000 Meals</h4>
                                            </td>
                                            <td valign="middle">
                                                <h3 class="sec-head"><span>₹ 5,00,000</span></h3>
                                            </td>
                                            <td valign="middle" style="text-align: center;" class="yellow-border"><a
                                                    href="https://iskcondwarka.org/donations/checkout/?add-to-cart=86&amp;dsource=corona-relief"
                                                    target="_blank" class="btn btn-primary btn-sm">DONATE NOW</a></td>
                                        </tr>
                                    </tbody>
                                </table> -->









                                <!-- Donte btns -->

                                
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="new-block-custom">
                                            <h4 class="sec-head">Donate 50 Meals</h4>
                                            <h3 class="sec-head"><span>₹ 1,000</span></h3>
                                            <a href="#" target="_blank" class="btn btn-primary btn-sm">Donate
                                                Now</a>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="new-block-custom">
                                            <h4 class="sec-head">Donate 100 Meals</h4>
                                            <h3 class="sec-head"><span>₹ 2,000</span></h3>
                                            <a href="#" target="_blank" class="btn btn-primary btn-sm">Donate
                                                Now</a>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="new-block-custom">
                                            <h4 class="sec-head">Donate 250 Meals</h4>
                                            <h3 class="sec-head"><span>₹ 5,000</span></h3>
                                            <a href="#" target="_blank" class="btn btn-primary btn-sm">Donate
                                                Now</a>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="new-block-custom">
                                            <h4 class="sec-head">Donate 500 Meals</h4>
                                            <h3 class="sec-head"><span>₹ 10,000</span></h3>
                                            <a href="#" target="_blank" class="btn btn-primary btn-sm">Donate
                                                Now</a>
                                        </div>
                                    </div>
                                </div>






                                Message

                                <div class="black-bg-text rounded-top rounded-bottom text-center">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <h3 class="h3 fw-bold fs-6 d-block d-sm-none d-md-none">Gentle Request!
                                                    While
                                                    doing Paytm or Bank (NEFT/ RTGS) please send us <br>
                                                    screen shot on our Whatsapp No- <a
                                                        href="https://api.whatsapp.com/send?phone=9599460493">-Iskcon
                                                        whatsapp
                                                        number-</a>
                                                    You may also call on this<br> no for other
                                                    queries</h3>
                                                <h3 class="h3 fw-bold d-none d-sm-block d-md-block fs-5">Gentle Request!
                                                    While
                                                    doing Paytm or Bank (NEFT/ RTGS) please send us <br>
                                                    screen shot on our Whatsapp No- <a
                                                        href="https://api.whatsapp.com/send?phone=9599460493">-Iskcon
                                                        whatsapp
                                                        number-</a>
                                                    You may also call on this<br> no for other
                                                    queries</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
    