<!doctype html>
<html lang="en" class="h-100">

<%- include('./partials/head') %> 

<body class="d-flex flex-column h-100">

    <%- include('./partials/header') %> 



    <!-- Content Section -->
    <section class="content mt-5 ">
        <section class="container-fluid">

            <!-- Donation -->

            <section class="donate mt-5 mb-3" id="donate">

                <!-- carousel -->

                <div id="carouselDonationSlides" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="/statics/Assets/images/slider1.jpeg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="/statics/Assets/images/banner2.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="/statics/Assets/images/banner3.jpg" class="d-block w-100" alt="...">
                        </div>
                    </div>
                </div>
                <!-- carousel end-->

                <!-- Message banner -->
                <div class="yellow-bg-text my-2 rounded-top rounded-bottom">
                    <div class="container py-2 py-lg-5 py-md-1 py-sm-1 py-xs-1">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <h3 class="h3 fw-bold fs-6 d-block d-sm-none d-md-none">We request you to Join our hands to support this initiative for keeping<br> this
                                    distribution
                                    enduring.</h3>
                                <h3 class="h3 fw-bold d-none d-sm-block d-md-block">We request you to Join our hands to support this initiative for keeping<br> this
                                    distribution
                                    enduring.</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Message banner end-->


                <!-- donation section -->

                <section class="donateNow border-top border-2 mt-3">
                    <div class="container-fluid my-5">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">

                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="new-block-custom">
                                            <h4 class="sec-head">Donate 50 Meals</h4>
                                            <h3 class="sec-head"><span>₹ 1,000</span></h3>
                                            <a href="https://iskcondwarka.org/donations/checkout/?add-to-cart=77&amp;dsource=corona-relief"
                                                target="_blank" class="btn btn-primary btn-sm">Donate Now</a>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="new-block-custom">
                                            <h4 class="sec-head">Donate 100 Meals</h4>
                                            <h3 class="sec-head"><span>₹ 2,000</span></h3>
                                            <a href="https://iskcondwarka.org/donations/checkout/?add-to-cart=81&amp;dsource=corona-relief"
                                                target="_blank" class="btn btn-primary btn-sm">Donate Now</a>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="new-block-custom">
                                            <h4 class="sec-head">Donate 250 Meals</h4>
                                            <h3 class="sec-head"><span>₹ 5,000</span></h3>
                                            <a href="https://iskcondwarka.org/donations/checkout/?add-to-cart=84&amp;dsource=corona-relief"
                                                target="_blank" class="btn btn-primary btn-sm">Donate Now</a>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="new-block-custom">
                                            <h4 class="sec-head">Donate 500 Meals</h4>
                                            <h3 class="sec-head"><span>₹ 10,000</span></h3>
                                            <a href="https://iskcondwarka.org/donations/checkout/?add-to-cart=78&amp;dsource=corona-relief"
                                                target="_blank" class="btn btn-primary btn-sm">Donate Now</a>
                                        </div>
                                    </div>







                                </div>




                                <table width="105%" class="table table-hover">
                                    <tbody>

                                        <tr>
                                            <td valign="middle">
                                                <h4 class="sec-head">Donate 1,000 Meals</h4>
                                            </td>
                                            <td valign="middle">
                                                <h3 class="sec-head"><span>₹ 20,000</span></h3>
                                            </td>
                                            <td valign="middle" style="text-align: center;" class="yellow-border"><a
                                                    href="https://iskcondwarka.org/donations/checkout/?add-to-cart=82&amp;dsource=corona-relief"
                                                    target="_blank" class="btn btn-primary btn-sm">DONATE NOW</a></td>
                                        </tr>
                                        <tr>
                                            <td valign="middle">
                                                <h4 class="sec-head">Donate 2,500 Meals</h4>
                                            </td>
                                            <td valign="middle">
                                                <h3 class="sec-head"><span>₹ 50,000</span></h3>
                                            </td>
                                            <td valign="middle" style="text-align: center;" class="yellow-border"><a
                                                    href="https://iskcondwarka.org/donations/checkout/?add-to-cart=85&amp;dsource=corona-relief"
                                                    target="_blank" class="btn btn-primary btn-sm">DONATE NOW</a></td>
                                        </tr>
                                        <tr>
                                            <td valign="middle">
                                                <h4 class="sec-head">Donate 5,000 Meals</h4>
                                            </td>
                                            <td valign="middle">
                                                <h3 class="sec-head"><span>₹ 1,00,000</span></h3>
                                            </td>
                                            <td valign="middle" style="text-align: center;" class="yellow-border"><a
                                                    href="https://iskcondwarka.org/donations/checkout/?add-to-cart=79&amp;dsource=corona-relief"
                                                    target="_blank" class="btn btn-primary btn-sm">DONATE NOW</a></td>
                                        </tr>
                                        <tr>
                                            <td valign="middle">
                                                <h4 class="sec-head">Donate 10,000 Meals</h4>
                                            </td>
                                            <td valign="middle">
                                                <h3 class="sec-head"><span>₹ 2,00,000</span></h3>
                                            </td>
                                            <td valign="middle" style="text-align: center;" class="yellow-border"><a
                                                    href="https://iskcondwarka.org/donations/checkout/?add-to-cart=83&amp;dsource=corona-relief"
                                                    target="_blank" class="btn btn-primary btn-sm">DONATE NOW</a></td>
                                        </tr>
                                        <tr>
                                            <td valign="middle">
                                                <h4 class="sec-head">Donate 25,000 Meals</h4>
                                            </td>
                                            <td valign="middle">
                                                <h3 class="sec-head"><span>₹ 5,00,000</span></h3>
                                            </td>
                                            <td valign="middle" style="text-align: center;" class="yellow-border"><a
                                                    href="https://iskcondwarka.org/donations/checkout/?add-to-cart=86&amp;dsource=corona-relief"
                                                    target="_blank" class="btn btn-primary btn-sm">DONATE NOW</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="footer-content">

                                            <div class="footer-head">
                                                <div class="footer-logo donationbank">
                                                    <h5><b>Donation Through Bank (NEFT/ RTGS)</b></h5>
                                                </div>
                                                <p><b>Bank Name - Yes Bank</b><br>
                                                    <b>Account Name - <span id="acname1">International Society For
                                                            Krishna
                                                            Consciousness</span></b>
                                                    <button class="btn btn-sm btncstm"
                                                        onclick="copy2clpbd('#acname1');">Copy</button>
                                                    <br>
                                                    <b> Account Number – <span id="acnum1">093294600000129</span></b>
                                                    <button class="btn btn-sm btncstm"
                                                        onclick="copy2clpbd('#acnum1');">Copy</button>
                                                    <br>
                                                    <b>IFSC Code - <span id="ifsc1">YESB0000932</span></b>
                                                    <button class="btn btn-sm btncstm"
                                                        onclick="copy2clpbd('#ifsc1');">Copy</button>
                                                </p>
                                                <p class="avail">80G available as per Income Tax Act 1961 and rules made
                                                    thereunder
                                                </p>
                                                <span class="certi"><b>Income Tax Exemption (80-G) Number
                                                        AAATI0017PF20219</b></span>
                                                <div style="margin-top:20px;"><a href="https://p-y.tm/Ri-f2g2"
                                                        target="_blank"><img src="/statics/Assets/images/paynow.png" alt="" width="80" height="80"></a></div>
                                                <br>
                                                <a href="https://paytm.me/R1pQ-0N" target="_blank"
                                                    style="padding-top:130px;font-size:20px; color:#1a1512;">
                                                    https://paytm.me/R1pQ-0N </a>


                                                <p class="avail">
                                                    80G benefits cannot be availed on Paytm donations Except Paytm UPI
                                                    transfer
                                                </p>


                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End col-->
                        </div>
                    </div>
                </section>

                <!-- donation section end-->

                <!-- Message banner -->

                <div class="black-bg-text rounded-top rounded-bottom text-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <h3 class="h3 fw-bold fs-6 d-block d-sm-none d-md-none">Gentle Request! While doing Paytm or Bank (NEFT/ RTGS) please send us <br>
                                    screen shot on our Whatsapp No- <a
                                        href="https://api.whatsapp.com/send?phone=9599460493">+91-9599460493</a>
                                    You may also call on this<br> no for other
                                    queries</h3>
                                <h3 class="h3 fw-bold d-none d-sm-block d-md-block fs-5">Gentle Request! While doing Paytm or Bank (NEFT/ RTGS) please send us <br>
                                    screen shot on our Whatsapp No- <a
                                        href="https://api.whatsapp.com/send?phone=9599460493">+91-9599460493</a>
                                    You may also call on this<br> no for other
                                    queries</h3>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Message banner end-->


            </section>

            <!-- Gallery -->

            <section id="ISKCONgallery" class="ISKCONgallery">
                <!-- Gallery -->
                <section class="container-fluid">
                    <div class="row pt-2">
                        <h3 class="text-white text-center my-3">Social Media Gallery</h3>
                        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                            <img src="/statics/Assets/images/gallery/182108865_249683510235918_7731738080269524878_n.jpg"
                                class="w-100 shadow-1-strong rounded mb-4" alt="Boat on Calm Water" />

                            <img src="/statics/Assets/images/gallery/183173833_249038323633770_3505761970057880829_n.jpg"
                                class="w-100 shadow-1-strong rounded mb-4" alt="Wintry Mountain Landscape" />
                        </div>

                        <div class="col-lg-4 mb-4 mb-lg-0">
                            <img src="/statics/Assets/images/gallery/183845223_253779636492972_3097184844362049920_n.jpg"
                                class="w-100 shadow-1-strong rounded mb-4" alt="Mountains in the Clouds" />

                            <img src="/statics/Assets/images/gallery/184107102_253779716492964_5292810347535989073_n.jpg"
                                class="w-100 shadow-1-strong rounded mb-4" alt="Boat on Calm Water" />
                        </div>

                        <div class="col-lg-4 mb-4 mb-lg-0">
                            <img src="/statics/Assets/images/gallery/184804344_253779773159625_7371643443604780405_n.jpg"
                                class="w-100 shadow-1-strong rounded mb-4" alt="Waves at Sea" />

                            <img src="/statics/Assets/images/gallery/185664882_251690040035265_8755463854842298229_n.jpg"
                                class="w-100 shadow-1-strong rounded mb-4" alt="Yosemite National Park" />
                        </div>
                    </div>
                </section>
                <!-- Gallery -->
            </section>

            <!-- Gallery end-->







        </section>
    </section>






    <!-- About us -->

    <section class="yellow_bg2" id="aboutISKCON">
        <div class="container">
            <div class="row">

                <div class="col-md-8 col-sm-12">


                    <article>
                        <div class="media-left media-middle">&nbsp;</div>
                    </article>

                    <article class="article_text">
                        <h1 style="    font-size: 24px;
            font-weight: 400;
            text-transform: uppercase;
            color: #ca4720;
            display: block;">ISKCON : A SPIRITUAL &amp; CULTURAL TEMPLE (Centre for permanent
                            happiness)</h1>

                        <div class="media-left media-middle">
                            <div class="imedia-object"><img alt="ISKCON " class="hom_img3"
                                    src="/statics/Assets/images/swami_img2.jpg"></div>

                            <p>ISKCON is a non-profit organization that works for social welfare. ISKCON has only one
                                aim and that is spreading the values and teachings of our Vedas. ISKCON Dwarka Delhi is
                                a beautiful place for gaining such values and for making your life even more fruitful
                                and meaningful. It isan unique VCEC or Vedic and cultural Education Center. It is
                                located in the heart of a cosmopolitan city. This center is determinedly trying to build
                                up the spiritual and ethical fabric of society with the help of different cultural and
                                spiritual educational programs.</p>

                            <p>&nbsp;</p>

                            <p>ISKCON (International Society for Krishna Consciousness) is an international non-profit
                                organization working tirelessly for the religious and spiritual upliftment of the
                                society. Founded in 1966 by his Divine Grace A.C. Bhaktivedanta Swami Prabhupada, better
                                known as Srila Prabhupada, ISKCON propagates the values and the preaching of the Vedas -
                                the ultimate repository of ancient Hindu knowledge.</p>

                            <p>&nbsp;</p>   

                            <p>The purpose of this cultural and educational centre in the premises of the ISKCON temple
                                is to strengthen the ethical and cultural fabric of our country, so as to restore the
                                past glory of India.</p>

                            <p>&nbsp;</p>

                            <h2 style="    font-size: 20px;
            font-weight: 400;
            color: #ca4720;
            display: block;">What is the Purpose of ISKCON?</h2>

                            <p>&nbsp;</p>

                            <p>ISKCON is a part of the broader Gaudiya Vaishnavism movement, which was started in Bengal
                                almost 500 years ago by Sri Chaitanya Mahaprabhu. He preached a personal form of
                                devotion known as Bhakti through chanting the name of Lord Krishna and dancing to music,
                                known as sankirtana.</p>

                            <p>&nbsp;</p>

                            <p>Chaitanya Mahaprabhu’s movement had a deep impact on the caste system of that time. He
                                brought together people of different castes and creeds into the fold of Gaudiya
                                Vaishnavism.</p>

                            <p>&nbsp;</p>

                            <p>Srila Prabhupada popularized the teachings of Gaudiya Vaishnavism in the West in the
                                1960s. The movement was embraced by the people of the West and today, the International
                                Society for Krishna Consciousness boasts of as many as 600 centers all over the world,
                                dedicated to the propagation of Vedic cultural and spiritual practices.</p>

                            <p>&nbsp;</p>

                            <p>Gaudiya Vaishnavism believes in the idea of the soul as something that is distinct from
                                the physical body. Unlike the body, which is material and transient, the soul is
                                eternal, immutable, and indestructible. The purpose of the soul is to free itself from
                                the illusion of the material world</p>

                            <p>&nbsp;</p>

                            <p>ISKCON Preaches this through teachings which help to develop love for Krishna, who is
                                considered to be the source of all incarnations. The relationship between the devotee
                                and Krishna can be achieved through Bhakti-yoga and chanting of his Hare Krishna Mantra:
                                <i>Hare Krishna, Hare Krishna, Krishna, Krishna, Hare, Hare; Hare Rama, Hare Rama, Rama,
                                    Rama, Hare Hare.</i>
                            </p>

                            <p>&nbsp;</p>

                            <h2 style="    font-size: 20px;
            font-weight: 400;
            color: #ca4720;
            display: block;">Why is ISKCON Temple famous?</h2>

                            <p>&nbsp;</p>

                            <p>ISKCON Temple is famous for a wide range of social and spiritual activities. The aim of
                                the temple is to fulfill the requirements of the soul by promoting activities that raise
                                spiritual and cultural consciousness.</p>

                            <p>&nbsp;</p>

                            <p>Every weekend, the temple organizes <a
                                    href="https://iskcondwarka.org/saturday-sunday-love-feast/"
                                    target="_blank">Saturday-Sunday Love Fest</a> – a festival celebrating love for the
                                Supreme Lord Krishna through classes on Bhagavad Gita, singing, and dancing. Once
                                started by Srila Prabhupada, it has now grown into a weekly tradition of service and
                                devotion. People can gather and chant the name of Krishna, followed by song, dance, and
                                a vegetarian feast.</p>

                            <p>&nbsp;</p>

                            <p>ISKCON also helps devotees to understand the meaning of existence better by answering
                                some fundamental questions about love, God, and spirituality. Its ‘Discover Your <a
                                    href="https://iskcondwarka.org/discover-your-self-seminar/"
                                    target="_blank">Permanent Happiness</a>’ program is a 12-hour long session divided
                                into seven days that helps you answer questions such as: ‘Who am I?’ &amp; ‘Does God
                                really exist?’</p>

                            <p>&nbsp;</p>

                            <p>ISKCON Youth Forum represents the youth wing of the organization that is meant to inspire
                                the younger generation to bring about positive changes in the world. It does so by
                                providing scientifically crafted lectures on Vedic intelligence by experts.</p>

                            <p>&nbsp;</p>

                            <p>For senior citizens, ISKCON has a special senior citizen’s group called Varishtha
                                Vaishnav. This forum fulfills the emotional and spiritual needs of the elderly through
                                special <a href="https://iskcondwarka.org/bhagavatam-class/" target="_blank">classes on
                                    Bhagavad Gita</a>, seminars, religious tours to sacred places, and engagement in
                                temple services.</p>

                            <p>&nbsp;</p>

                            <p>ISKCON realizes that married couples have special needs and must be provided help to make
                                their relationship healthy and happy. For them, ISKCON temple has introduced the Ashraya
                                Group Program, which conducts special classes and seminars, couple’s counselling,
                                spiritual assistance, and educational tours.</p>

                            <p>&nbsp;</p>

                            <p>For urban kids, who run the risk of being led astray, ISKCON has introduced <a
                                    href="https://iskcondwarka.org/gopal-fun-school/" target="_blank">Gopal Fun
                                    School</a>. It is a weekend program that imparts the right cultural training to
                                children in order to make them ready for the future.</p>

                            <p>&nbsp;</p>

                            <p><b><i>The above activities are currently on hold due to the ongoing Coronavirus pandemic.
                                        As soon as the situation normalizes and as per the government directives, we
                                        will resume all our activities.</i></b></p>

                            <p>&nbsp;</p>

                            <h2 style="    font-size: 20px;
            font-weight: 400;
            color: #ca4720;
            display: block;">For which God is ISKCON Temple famous?</h2>

                            <p>&nbsp;</p>

                            <p>ISKCON has as many as 650 temples and Vedic cultural centres. In Delhi, the national
                                capital of India, there are many active temples, including the main temple Sri Sri Radha
                                Parthasarathi Mandir, Glory of India &amp; Vedic Cultural Centre, situated in Hare
                                Krishna Hills, East of Kailash. The presiding deity of ISKCON Delhi is Radha
                                Parthasarathi, which is represented by Lord Krishna and Sri Radha together.</p>

                            <p>&nbsp;</p>

                            <p>The temple complex also houses Glory of India &amp; Vedic Cultural Centre, dedicated to
                                promoting Vedic knowledge and principles. Devotees are taught about the glorious
                                teachings of the Vedas – the fountainhead of all knowledge systems for Hindus – through
                                laser projections, sound and light shows, visual creations, and exhibits. One of the
                                largest exhibits on display is the Astounding Bhagavad Gita, the largest copy of
                                Bhagavad Gita in the world.</p>

                            <p>&nbsp;</p>

                            <h3>SPIRITUAL VALUES AND CULTURAL ETHICS</h3>

                            <p>&nbsp;</p>

                            <p>If you are gratifying your mind and body, you cannot live a happy and healthy life. The
                                requirements of your soul should be fulfilled as well. For this, we need to indulge
                                ourselves in the activities that will evoke the cultural and spiritual consciousness. It
                                is possible if you hear and chant the holy names of the Supreme Lord. As a human, we
                                have the power to recognize and feel the spiritual identity. We can also realize the
                                permanent resource of our happiness.</p>
                            &nbsp;

                            <div class="nclick">
                                <div class="cont" style="display:none;">
                                    <p>If you are willing to develop that power, devotional education is the easiest
                                        way. For this, the one can pay a visit to the temple. A temple is nothing, but a
                                        shelter where a person can come and learn about the spiritual life. He can find
                                        the answers to what God is all about and what is the relationship he has with
                                        God. He can learn these things in a temple. - Srila Prabhupada (ISKCON
                                        FounderAcharaya).</p>
                                    &nbsp;

                                    <p>Our Vedic ethnicity refers to the finest way of living that supports the overall
                                        happiness. Our Vedic cultural ethics enable a happy life and promotes religious
                                        progress, simultaneously intending for a superior destination after death.</p>
                                    &nbsp;

                                    <p>There are several ISKCON temples available worldwide. All of them organize
                                        classes based on the holy books such as
                                        SrimadBhagavatam&amp;ChaitanyaCharitamrta, Bhagavat Gita, and other sacred Vedic
                                        scriptures. A lot of people are puzzled with life’s several challenges. By
                                        listening to the transcendental message of these sacred books,one can elevate
                                        oneself from the miseries and confusions of this world.</p>
                                    &nbsp;

                                    <p>Join ISKCON Dwarka for these auspicious classes and find the best solutions for
                                        your confusions. Come to us today and feel the real essence of our cultural
                                        ethics and spiritual values.</p>
                                </div>
                                <span class="read_text"><a href="javascript:void(0);">Read More</a></span>
                            </div>

                            <p>&nbsp;</p>

                            <div class="imedia-object"><img class="hom_img3" src="/statics/Assets/images/swami.jpg"></div>

                            <p>“Swami Srila Prabhupada was a genuine holy spiritual person with enormous integrity and
                                compassion, and he had a powerful impact on those who met him. He never claimed
                                authority and respect for himself; what he said and did was always in the name of
                                Krishna…” – Dr. Thomas J. Hopkins</p>

                            <p>&nbsp;</p>

                            <p>When His Divine Grace, A.C. Bhaktivedanta Swami Srila Prabhupada entered the port of New
                                York City on September 17, 1965, few Americans took notice — but he was not merely
                                another immigrant. He was on a mission to introduce an ancient religion, which
                                originated in India, into mainstream America. Before Srila Prabhupada passed away on
                                November 14, 1977, at the age of 81, his mission proved to be successful. He had founded
                                the International Society for Krishna Consciousness (ISKCON), and saw it grow into a
                                worldwide confederation of more than 100 temples, ashrams, and cultural centres.</p>

                            <p>&nbsp;</p>
                            <span class="read_text"><a href="http://iskcondwarka.org/about-srila-prabhuapada/">Read
                                    More</a></span>

                            <p>&nbsp;</p>

                            <p>&nbsp;</p>

                            <h3>GLORIES OF BUILDING A TEMPLE FOR LORD KRISHNA</h3>

                            <p>&nbsp;</p>

                            <p>Agni-purana, XXXVIII, 1-50</p>
                            &nbsp;

                            <p>Those who approve of a man building a temple for Krishna, go to the region of Acyuta
                                [Vishnu], freed from sins. Having desired to build a temple for Hari, a man immediately
                                takes a million of his generations, past and future, to the region of Vishnu.</p>
                            &nbsp;

                            <div class="nclick">
                                <div class="cont" style="display:none;">
                                    <p>In the Srimad Bhagavatam we find the following verses: “By installing the Deity
                                        of the Lord, one becomes king of the entire earth, by building a temple for the
                                        Lord, one becomes ruler of the three worlds, by worshiping and serving the
                                        deity, one goes to the planet of Lord Brahma, and by performing all three of
                                        these activities one achieves a transcendental form like My own. But one who
                                        simply engages in devotional service with no consideration of fruitive results
                                        attains Me. Thus whoever worships Me according to the process I have described
                                        will ultimately attain pure devotional service unto Me.”</p>
                                    &nbsp;

                                    <p>And, “One who offers the Deity gifts of the land, markets, cities and villages so
                                        that the regular worship and special festivals of the Deity may go on
                                        continuously will achieve opulence equal to My own”.</p>
                                    &nbsp;

                                    <p>“A person who builds a temple of Sri Vishnu will get the same results as
                                        performing the Rajasuyayajna and Ashwamedayajna. O best of the brahmanas, as
                                        many atoms as there are in the temple, for so many thousands of years will he be
                                        able to reside in the heavenly planets.” -- Vishnu Dharmottara</p>
                                    &nbsp;

                                    <p>“O devoted one, one who builds a beautiful temple for Lord Nrsimhadeva will be
                                        freed from all sinful reactions and he will enter the Vaikuntha planets.” --
                                        Narsimha Purana</p>
                                    &nbsp;

                                    <p>“Just by starting the construction of a temple for Lord Krishna, sins committed
                                        in seven births will be wiped out and one will deliver his forefathers who are
                                        suffering in the hellish planets.” --Skanda Purana</p>
                                    &nbsp;

                                    <p>“Whoever constructs or helps to construct a Vishnu temple will protect eight
                                        generations of fathers, grandfathers, and forefathers from falling into hell.”
                                        And, “By building a temple for Sri Madhava, one can attain the eternal spiritual
                                        world (Vaikuntha). One who offers a garden laden with fruits and flowers for the
                                        service of the Deity will attain heavenly pleasures.” -- Vamana Purana</p>
                                    &nbsp;

                                    <p>“If one contributes towards temple construction, devotional service becomes
                                        increasingly a more tangible and feasible reality in one’s life. Srila
                                        Prabhupada’s intent, his transcendental scheme, in having us, his disciples
                                        build temples around the world, is especially to provide an opportunity for
                                        fallen souls everywhere to acquire spiritual benefit by participation and
                                        charity. This is known as ajnatasukriti, which means pious credit acquired
                                        unknowingly.”</p>
                                </div>
                                <span class="read_text"><a href="javascript:void(0);">Read More</a></span>
                            </div>
                        </div>
                    </article>




                </div>

                <!-- <div class="col-md-4 col-sm-12">
                    <div class="right_side">
                        <div class="mar_btm col-md-12  col-sm-6">
                            <iframe
                                src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fiskcon.dwarka%2F&amp;tabs=timeline&amp;width=360&amp;height=500&amp;small_header=false&amp;adapt_container_width=true&amp;hide_cover=false&amp;show_facepile=true&amp;appId"
                                width="380" height="500" style="border:none;overflow:hidden" scrolling="no"
                                frameborder="0" allowtransparency="true"></iframe>
                        </div>

                        <div class="mar_btm col-md-12 col-sm-6">
                            <div class="textwidget">
                                <div class="twitter-timeline twitter-timeline-rendered"
                                    style="display: flex; width: 100%; max-width: 100%; margin-top: 0px; margin-bottom: 0px;">
                                    <iframe id="twitter-widget-0" scrolling="no" frameborder="0"
                                        allowtransparency="true" allowfullscreen="true" class=""
                                        style="position: static; visibility: visible; width: 330px; height: 300px; display: block; flex-grow: 1;"
                                        title="Twitter Timeline"
                                        src="https://syndication.twitter.com/srv/timeline-profile/screen-name/ISKCON_Dwarka?dnt=false&amp;embedId=twitter-widget-0&amp;features=eyJ0ZndfdGltZWxpbmVfbGlzdCI6eyJidWNrZXQiOlsibGlua3RyLmVlIiwidHIuZWUiLCJ0ZXJyYS5jb20uYnIiLCJ3d3cubGlua3RyLmVlIiwid3d3LnRyLmVlIiwid3d3LnRlcnJhLmNvbS5iciJdLCJ2ZXJzaW9uIjpudWxsfSwidGZ3X2ZvbGxvd2VyX2NvdW50X3N1bnNldCI6eyJidWNrZXQiOnRydWUsInZlcnNpb24iOm51bGx9LCJ0ZndfaG9yaXpvbl90aW1lbGluZV8xMjAzNCI6eyJidWNrZXQiOiJ0cmVhdG1lbnQiLCJ2ZXJzaW9uIjpudWxsfSwidGZ3X3R3ZWV0X2VkaXRfYmFja2VuZCI6eyJidWNrZXQiOiJvbiIsInZlcnNpb24iOm51bGx9LCJ0ZndfcmVmc3JjX3Nlc3Npb24iOnsiYnVja2V0Ijoib24iLCJ2ZXJzaW9uIjpudWxsfSwidGZ3X3Nob3dfYnVzaW5lc3NfdmVyaWZpZWRfYmFkZ2UiOnsiYnVja2V0Ijoib24iLCJ2ZXJzaW9uIjpudWxsfSwidGZ3X2NoaW5fcGlsbHNfMTQ3NDEiOnsiYnVja2V0IjoiY29sb3JfaWNvbnMiLCJ2ZXJzaW9uIjpudWxsfSwidGZ3X3R3ZWV0X3Jlc3VsdF9taWdyYXRpb25fMTM5NzkiOnsiYnVja2V0IjoidHdlZXRfcmVzdWx0IiwidmVyc2lvbiI6bnVsbH0sInRmd19taXhlZF9tZWRpYV8xNTg5NyI6eyJidWNrZXQiOiJ0cmVhdG1lbnQiLCJ2ZXJzaW9uIjpudWxsfSwidGZ3X3NlbnNpdGl2ZV9tZWRpYV9pbnRlcnN0aXRpYWxfMTM5NjMiOnsiYnVja2V0IjoiaW50ZXJzdGl0aWFsIiwidmVyc2lvbiI6bnVsbH0sInRmd19leHBlcmltZW50c19jb29raWVfZXhwaXJhdGlvbiI6eyJidWNrZXQiOjEyMDk2MDAsInZlcnNpb24iOm51bGx9LCJ0ZndfZHVwbGljYXRlX3NjcmliZXNfdG9fc2V0dGluZ3MiOnsiYnVja2V0Ijoib24iLCJ2ZXJzaW9uIjpudWxsfSwidGZ3X3ZpZGVvX2hsc19keW5hbWljX21hbmlmZXN0c18xNTA4MiI6eyJidWNrZXQiOiJ0cnVlX2JpdHJhdGUiLCJ2ZXJzaW9uIjpudWxsfSwidGZ3X3Nob3dfYmx1ZV92ZXJpZmllZF9iYWRnZSI6eyJidWNrZXQiOiJvbiIsInZlcnNpb24iOm51bGx9LCJ0ZndfbGVnYWN5X3RpbWVsaW5lX3N1bnNldCI6eyJidWNrZXQiOnRydWUsInZlcnNpb24iOm51bGx9LCJ0Zndfc2hvd19nb3ZfdmVyaWZpZWRfYmFkZ2UiOnsiYnVja2V0Ijoib24iLCJ2ZXJzaW9uIjpudWxsfSwidGZ3X3Nob3dfYnVzaW5lc3NfYWZmaWxpYXRlX2JhZGdlIjp7ImJ1Y2tldCI6Im9uIiwidmVyc2lvbiI6bnVsbH0sInRmd190d2VldF9lZGl0X2Zyb250ZW5kIjp7ImJ1Y2tldCI6Im9uIiwidmVyc2lvbiI6bnVsbH19&amp;frame=false&amp;hideBorder=false&amp;hideFooter=false&amp;hideHeader=false&amp;hideScrollBar=false&amp;lang=en&amp;maxHeight=300px&amp;origin=https%3A%2F%2Fiskcondwarka.org%2F&amp;sessionId=035b4f67258ac129ca1709694800d4b57370eb8b&amp;showHeader=true&amp;showReplies=false&amp;transparent=false&amp;widgetsVersion=2b959255e8896%3A1673658205745"></iframe>
                                </div>
                                <script async="" src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                            </div>
                        </div>
                    </div>

                </div> -->




            </div>
        </div>


    </section>

    <a href="#donate" class="donateLink" id="">Contribute Now</a>
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- Footer -->

    <%- include('./partials/footer') %> 


    
    <!-- <script src="/statics/js/sandbox.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script> -->
</body>

</html>