/* CSS Reset Start */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /* font: inherit; */
    /* vertical-align: baseline; */
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* CSS Reset End */



/* Custom Root documnet Margin & Padding */


/* body {
    margin: 0 100px 0;
} */





/* Custom Page CSS */


/* Body Background Image */
body {
    background-image: url(../Assets/images/iskconbgBlue.png);
    /* font-family: 'Raleway', sans-serif; */
    /* font-family: Graphik, -apple-system, BlinkMacSystemFont, Segoe UI; */
    font-family: Poppins, -apple-system, BlinkMacSystemFont, Segoe UI;
    font-family: Poppins;
}



/* NavBar BG */

.navbarBg,
.footerBg {
    /* background-image: linear-gradient(135deg, #020381 0%, #2874fc 100%); */
    /* background-image: linear-gradient(135deg, #0e509a, #0366d6); */
    /* color: #fff; */

    /* 
    background: rgb(2, 3, 129);
    background: -moz-linear-gradient(135deg, rgba(2, 3, 129, 1) 0%, rgba(40, 116, 252, 1) 100%);
    background: -webkit-linear-gradient(135deg, rgba(2, 3, 129, 1) 0%, rgba(40, 116, 252, 1) 100%);
    background: linear-gradient(135deg, rgba(2, 3, 129, 1) 0%, rgba(40, 116, 252, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020381", endColorstr="#2874fc", GradientType=1); */


    background: rgb(2, 3, 129);
    background: -moz-linear-gradient(135deg, rgba(40, 116, 252, 1) 0%, rgba(2, 3, 129, 1) 100%);
    background: -webkit-linear-gradient(135deg, rgba(40, 116, 252, 1) 0%, rgba(2, 3, 129, 1) 100%);
    background: linear-gradient(135deg, rgba(40, 116, 252, 1) 0%, rgba(2, 3, 129, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020381", endColorstr="#2874fc", GradientType=1);
    color: #ffffff;
}

.navbarBg a.nav-link {
    color: #fff !important;
}

.navbarBg a.nav-link.active {
    /* color: #c0bbbb !important; */
    color: #a3bfff !important;
}


/* Carousel Image styling */

/* 
#bannerCarousel>div.carousel-inner>div>img {
    width: 1280px;
    height: 520px;
} */


/* First Banner */

.msgBanner-bg-text {
    /* background: rgb(2, 3, 129);
    background: -moz-linear-gradient(135deg, rgba(2, 3, 129, 1) 0%, rgba(40, 116, 252, 1) 100%);
    background: -webkit-linear-gradient(135deg, rgba(2, 3, 129, 1) 0%, rgba(40, 116, 252, 1) 100%);
    background: linear-gradient(135deg, rgba(2, 3, 129, 1) 0%, rgba(40, 116, 252, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020381", endColorstr="#2874fc", GradientType=1);
    color: #ffffff; */

    background: rgb(2, 3, 129);
    background: -moz-linear-gradient(135deg, rgba(40, 116, 252, 1) 0%, rgba(2, 3, 129, 1) 100%);
    background: -webkit-linear-gradient(135deg, rgba(40, 116, 252, 1) 0%, rgba(2, 3, 129, 1) 100%);
    background: linear-gradient(135deg, rgba(40, 116, 252, 1) 0%, rgba(2, 3, 129, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020381", endColorstr="#2874fc", GradientType=1);
    color: #ffffff;
}


/* Second Banner */

.black-bg-text {
    background-color: #1a1512;
    /* padding-top: 45px;
    padding-bottom: 45px; */
    color: #fff;
    /* font-family: 'Conv_gilroy-extrabold'; */
    font-family: 'Montserrat', sans-serif !important;
}



/* Donation Section */

/* .donateNow{

} */


.new-block-custom {
    background: #fff;
    border: 1px solid #000;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 10px;
    text-align: center;
}

.new-block-custom a.btn-primary {
    background-color: #0366d6;
    color: #fff;
    border: none;
    font-size: 20px;
    font-weight: 800;
    border-radius: 40px;
    padding: 6px 25px;
    padding: 6px 25px;
}


.new-block-custom a.btn-primary:hover {
    /* background: rgb(2, 3, 129);
    background: -moz-linear-gradient(135deg, rgba(2, 3, 129, 1) 0%, rgba(40, 116, 252, 1) 100%);
    background: -webkit-linear-gradient(135deg, rgba(2, 3, 129, 1) 0%, rgba(40, 116, 252, 1) 100%);
    background: linear-gradient(135deg, rgba(2, 3, 129, 1) 0%, rgba(40, 116, 252, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020381", endColorstr="#2874fc", GradientType=1);
    color: #ffffff; */

    background: rgb(2, 3, 129);
    background: -moz-linear-gradient(135deg, rgba(40, 116, 252, 1) 0%, rgba(2, 3, 129, 1) 100%);
    background: -webkit-linear-gradient(135deg, rgba(40, 116, 252, 1) 0%, rgba(2, 3, 129, 1) 100%);
    background: linear-gradient(135deg, rgba(40, 116, 252, 1) 0%, rgba(2, 3, 129, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020381", endColorstr="#2874fc", GradientType=1);
    color: #ffffff;
}

.btn-primary {
    color: #fff;
    background-color: #1a1512;
    border-color: #1a1512;
}

.sec-head {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 0;
    padding: 0 0 10px;
    text-transform: uppercase;
    transition: all 0.4s ease 0s;
    color: #282525;
}

@media only screen and (max-width: 700px) {
    .new-block-custom {
        font-size: 12px;
        background: #fff;
        border: 1px solid #000;
        padding: 20px;
        border-radius: 15px;
        margin-bottom: 10px;
        text-align: center;
    }

    .new-block-custom a.btn-primary {
        font-size: 14px;
        font-weight: 800;
        border-radius: 40px;
        padding: 1px 14px;
        /* padding: 6px 25px; */
    }
}

@media only screen and (max-width: 400px) {
    .new-block-custom {
        background: #fff;
        border: 1px solid #000;
        padding: 20px;
        border-radius: 15px;
        margin-bottom: 10px;
        text-align: center;
    }

    .new-block-custom a.btn-primary {
        background-color: #0366d6;
        color: #fff;
        border: none;
        font-size: 20px;
        font-weight: 800;
        border-radius: 40px;
        padding: 6px 25px;
        padding: 6px 25px;
    }
}

.copybtnSet {
    padding: 1.1px;
    font-size: 0.7rem;
}







/* ISkcon Galary Home page section */


.ISKCONgallery {

    background-image: url(../Assets/images/bglast.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

/* About us */

.yellow_bg2 {
    background: url(../Assets/images/bg3lg.png) repeat;
    padding: 21px 0px;
}






/* Donate Now fixed buttn */


.donateLink {
    text-decoration: none;
    position: fixed;
    /* background: #fd6c11; */
    /* background: #1b9268; */
    background: #0e509a;
    color: #fff;
    padding: 9px 15px 9px 15px;
    font-size: 13px;
    border: 1px solid #fff;
    border-radius: 2px;
    right: 35px;
    /* left: 35px; */
    bottom: 5px;
    border-radius: 30px;
}

.donateLink a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
}


.back-to-top i {
    display: flex;
    float: right;
    border-radius: 3px;
    border: 3px solid white;
}




/* Footer */
/* footer{

} */

.cprit {
    /* color: #b5b0b080 !important; */
    color: #ffffff !important;
}

/* Footer Social Buttons */

.socialIco {
    background-color: #4f75c6d8;
}






/* Model Implemention in Donate page */

/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {
    opacity: 0.7;
}

/* The Modal (background) */
.modal-donatenow {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1031;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content-donatenow {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 350px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption-donatenow {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content-donatenow,
#caption-donatenow {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* The Close Button */
.close-donatenow {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close-donatenow:hover,
.close-donatenow:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content-donatenow {
        width: 100%;
    }
}





/* Gallery */

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {
    opacity: 0.7;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content,
#caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}







.row>.column {
    padding: 0 8px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
    float: left;
    width: 25%;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
}

/* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Caption text */
.caption-container {
    text-align: center;
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    padding: 2px 16px;
    color: white;
}

img.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



img.demo {
    width: 189px;
    height: 126px;
}


body>div>div>div.row.my-5>div>img {
    height: 321px;
    width: 321px;
}

@media only screen and (max-width: 700px) {
    body>div>div>div.row.my-5>div>img {
        height: 277px;
        width: 277px;
    }

    img.demo {
        width: 80px;
        height: 80px;
    }
}




/* festival section */


.festPost {
    background: url(../Assets/images/bg3lg.png) repeat;

}

.fest_header {
    font-size: 3rem;
    font-optical-sizing: auto;
    font-family: 'Poppins rev=2';
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: initial;
}


.fest-content {
    position: relative;
    top: 100px
}

.festName {
    text-align: center;
}

.festival-image {
    width: 590px;
    height: 400px;
    float: left;
    shape-margin: 20px;
    margin-top: 20px;
    margin-right: 20px;
}

.festival-imageNotice {
    text-align: center;
}

.blog-content {
    hyphens: auto;
}

.blog-content p {
    text-align: justify;
    text-justify: none;
    line-height: 1.5rem;
    letter-spacing: 0.1rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
}

.festives {
    background: url(./../Assets/images/bg3lg.png);
}

@media only screen and (max-width: 1000px) and (min-width: 920px) {

    .festival-image {
        width: 540px;
        height: 390px;
        margin-top: 0;
    }
}

@media only screen and (max-width: 1077px) and (min-width: 920px) {
    .blog-content {
        margin-left: 10px;
        hyphens: auto;
    }

    .blog-content p {
        text-align: justify;
        text-justify: none;
        line-height: 1.5rem;
        letter-spacing: 0.1rem;
        font-family: 'Poppins', sans-serif;
        font-size: 1.1rem;
    }
}

@media only screen and (max-width: 977px) and (min-width: 920px) {
    .blog-content p {
        text-align: justify;
        text-justify: none;
        line-height: 1.5rem;
        letter-spacing: 0.1rem;
        font-family: 'Poppins', sans-serif;
        font-size: 1.05rem;
    }
}

@media only screen and (max-width: 920px) {

    .festival-image {
        float: none;
        width: 540px;
        height: 390px;
        margin-bottom: 1.5rem;
        margin-top: 0;
    }
}

@media only screen and (max-width: 700px) {

    .festival-image,
    .festival-imageNotice {
        float: none;
        width: 14rem;
        height: 14rem;
        margin-top: 0;
    }

    .fest_header {
        font-size: 2rem;
        font-optical-sizing: auto;
        font-family: 'Poppins rev=2';
        font-weight: 700;
        font-style: normal;
        font-stretch: normal;
        line-height: initial;
    }

    .blog-content p {
        text-align: justify;
        text-justify: none;
        line-height: 1.5rem;
        letter-spacing: 0.1rem;
        font-family: 'Poppins', sans-serif;
        font-size: 1.05rem;
        hyphens: auto;
    }

    .blog-content {
        width: 100%;
        height: 100%;
    }
}