.yellow-bg-text {
    background-color: #e6b745;
    /* padding-top: 45px;
    padding-bottom: 45px; */
}

.black-bg-text {
    background-color: #1a1512;
    /* padding-top: 45px;
    padding-bottom: 45px; */
    color: #fff;
    /* font-family: 'Conv_gilroy-extrabold'; */
    font-family: 'Montserrat', sans-serif !important;
}

.ISKCONgallery {

    background-image: url(../Assets/images/bglast.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.donateLink {
    text-decoration: none;
    position: fixed;
    background: #fd6c11;
    color: #fff;
    padding: 9px 15px 9px 15px;
    font-size: 13px;
    border-radius: 2px;
    right: 35px;
    /* left: 35px; */
    bottom: 5px;
    border-radius: 30px;
}

.donateLink a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

.new-block-custom {
    background: #fff;
    border: 1px solid #000;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 10px;
    text-align: center;
}

.new-block-custom a.btn-primary {
    background-color: #e6b745;
    color: #000;
    border: none;
    font-size: 20px;
    font-weight: 800;
    border-radius: 40px;
    padding: 6px 25px;
}


.new-block-custom a.btn-primary:hover {
    background-color: #fd6c11;
    color: #fff;
}

.btn-primary {
    color: #fff;
    background-color: #1a1512;
    border-color: #1a1512;
}

.sec-head {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 0;
    padding: 0 0 10px;
    text-transform: uppercase;
    transition: all 0.4s ease 0s;
    color: #282525;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    border-top: 0px solid #ddd !important;
    border-right: 1px solid #e9bf5b;
}

.yellow_bg2 {
    background: url(../Assets/images/bg3.jpg) repeat;
    padding: 21px 0px;
}
